body,
html {
    overflow-x: hidden;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    min-height: 100vh;
    transition: background 0.3s ease-in-out;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 50px;
    gap: 30px;
    position: relative;
}

.image-container {
    position: relative;
    width: 50%;
}

.house-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.house-image:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.text-container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #222;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.text-container p {
    font-size: 1.2rem;
    color: #555;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

.offset-left {
    transform: translateX(-40px);
    max-width: 100%;
    overflow: hidden;
}

.offset-right {
    transform: translateX(40px);
    max-width: 100%;
    overflow: hidden;
}

/* Egyedi eltolások (Képek és szövegek) */
.section:nth-child(1) .image-container .house-image {
    /* 1. kép */
    transform: translateX(0px);
}

.section:nth-child(1) .text-container {
    /* 1. szöveg */
    transform: translateX(0px);
}

.section:nth-child(2) .image-container .house-image {
    /* 2. kép - kicsit feljebb */
    transform: translateX(0px) translateY(-120px);
}

.section:nth-child(2) .text-container {
    /* 2. szöveg */
    transform: translateX(0px) translateY(-120px);
}

.section:nth-child(3) .image-container .house-image {
    /* 3. kép */
    transform: translateX(0px) translateY(-240px);
}

.section:nth-child(3) .text-container {
    /* 3. szöveg */
    transform: translateX(0px) translateY(-240px);
}

/* Big Button */
.final-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -220px;
    margin-bottom: 20px;
}

.final-cta h2 {
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.big-cta-button {
    display: inline-block;
    padding: 16px 36px;
    font-size: 1.25rem;
    background-color: #4d4e4e;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.big-cta-button:hover {
    background-color: #2f3031;
    transform: translateY(-2px);
}